[Desktop Entry]
Type=Application
Name=Koett
Comment=Fast local voice to text
Exec=koett
Icon=com.olledyberg.Koett
Terminal=false
Categories=Utility;Audio;
StartupNotify=false
